*
    list-style-type: none
    box-sizing: border-box
    padding: 0
    margin: 0

.flex-block
    display: flex !important
.App 
    text-align: center;
    background-color: #282c34
    min-height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    font-size: calc(10px + 2vmin)
    color: white
    &-container
        width: 80%
        min-height: 100px        
        margin-top: 100px
        display: flex
        justify-content: space-between
        .animCall
            width: 20%
            height: 50px
            align-self: center
            display: flex
            justify-content: center
            align-items: center
            .rounds-s
                display: none
                width: 70%
                justify-content: space-between
                li
                    height: 30px
                    width: 30px
                    background-color: #7c7c7c
                    border-radius: 50%                    
                    &:nth-child(1)
                        animation: rounds .9s ease 0s infinite 
                    &:nth-child(2)
                        animation: rounds .9s ease 0.1s infinite 
                    &:nth-child(3)
                        animation: rounds .9s ease 0.2s infinite 
                        
        video
            display: block
            width: 40%
            border: 1px solid white
    .buttons
        width: 80%
        min-height: 50px
        margin-top: 40px
        display: flex
        justify-content: space-around
        .btnStart,.btnCall,.btnClose
            cursor: pointer
            padding: 10px
            &:disabled
                opacity: .4
                
        .btnStart  
            background: #91bb75          
        .btnCall
            border-radius: 50%
            width: 50px
            height: 50px
            background: no-repeat center center / auto 70% url('image/phone.svg')
            background-color: #818d57
            border: none
            transition: .3s
            &:hover:not(:disabled)
                background-color: #528864
        .btnClose
            border-radius: 50%
            width: 150px
            height: 50px
            background: no-repeat center center / auto 70% url('image/phone.svg')
            background-color: #af1a1a
    .callsList
        margin-top: 100px
        width: 80%
        min-height: 50px
        li
            border: 1px solid white
            font-size: 15px
            display: flex
            flex-direction: column
            margin-bottom: 20px
            span
                padding: 10px
            button 
                &:hover
                    cursor: pointer

    .sumCalls
        margin-top: 100px
        width: 80%
        min-height: 50px
        display: flex
        justify-content: space-around
        font-family: 'Montserrat'
        .sum,.average
            width: 40%
            min-height: 50px
            font-size: 16px



@keyframes rounds
    0%
        transform: scale(1)
    50%
        transform: scale(0.5)
    100%
        transform: scale(1)